﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Сайт подготовлен специально для <a href="https://vk.com/htc_cs">ЦВТ</a>.</p>
</div>
