﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - cvt_dailyPlanner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
            <a class="navbar-brand" href="#">Carousel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse show" id="navbarCollapse" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Начальная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Planner/Day">День</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Planner/Week" tabindex="-1" aria-disabled="true">Неделя</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Planner/Month" tabindex="-1" aria-disabled="true">Месяц</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Planner/Index" tabindex="-1" aria-disabled="true">Список</a>
                    </li>
                </ul>
                <form method="post" asp-action="Find" asp-controller="Planner" class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-md-3" type="text" placeholder="Search" aria-label="Search" name="Sub">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                </form>
            </div>
        </nav>
    </header>
   
    <div class="container">
        @RenderBody()
    </div>
  
    
    <div class="text-center">
        <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Complete for <a href="https://htc-cs.ru">CVT</a>, by <a href="https://vk.com/d_rudish">Dmitry SH</a></p>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
