﻿

<a class="thumbnail" asp-controller="CreateTask" asp-action="Index" asp-route-date=@Model>
    <div class="media text-muted pt-3">
        <!-- <a href="#" class="thumbnail flex-nowrap justify-content-between"> -->
        <div style="font-size:0.5rem" class="mr-2">
            <i class="far fa-plus-square fa-5x"></i>
        </div>

        <p class="media-body mt-2 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark pb-4">Создать задачу</strong>
        </p>
        <!-- </a> -->

    </div>
</a>