﻿@model DailyTasksViewModel

<div class="container filter-task" style="display: none; position: absolute; width: 700px">
    <form method="post" asp-controller="Planner" asp-action="Filter">
        <div class="my-3 p-3 m-3 bg-white rounded shadow-sm">
            <div class="text-center">
                <h4>фильтр</h4>
            </div>
            <div>

                <div>
                    <label>
                        Отсортировать по:
                    </label>

                    <div class="input-group-prepend mt-2">
                        <div class="input-group-text" style="width: 180px">
                            @Html.CheckBoxFor(t=> t.filter.taskTypeChecked,
                                new {@class= "taskTypeFilter", onchange = "ChangeTaskTypeFilter(this)" })
                            <span class="ml-2">Тип задачи</span>
                        </div>
                        <div class="col-md-6 task-type-filter" style="display: none">
                            <select id="task-type" asp-for="filter.TaskType" class="custom-select">
                                <option>Встреча</option>
                                <option>Дело</option>
                                <option>Памятка</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group-prepend mt-2">
                        <div class="input-group-text" style="width: 180px">
                            @Html.CheckBoxFor(t => t.filter.DateTypeFilter,
                                     new { @class = "filterDateType", onchange = "ChangeDateFilter(this)" })
                            <span class="ml-2">Дата</span>
                        </div>
                        <div class="date-filter row flex-nowrap ml-3" style="display: none">
                            <div class="input-group-text mr-3" style="width: 160px">
                                <input type="radio" asp-for="filter.DateType" value="up">
                                <span class="ml-2">На возрастание</span>
                            </div>
                            <div class="input-group-text" style="width: 160px">
                                <input type="radio" asp-for="filter.DateType" value="down">
                                <span class="ml-2">На убывание</span>
                            </div>
                        </div>
                    </div>

                    <div class="date-filter" style="display: none">
                        <div class="row flex-nowrap mt-2 ml-3">
                            <div class="input-group-prepend mt-2 mr-3">
                                <div class="input-group-text" style="width: 160px">
                                    @Html.CheckBoxFor(t => t.filter.selectDateFilter,
                                        new { id = "period-block-filter", onchange = "ChangeDatePeriodFilter(this)" })
                                    <span class="ml-2">Период дат</span>
                                </div>
                            </div>
                            <div class="period-filter mt-2" style="display: none; width: 200px">
                                <input asp-for="filter.SelectDate" type="text"
                                       class="form-control data-time-picker" id="period-date" placeholder="Дата">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row flex-nowrap justify-content-end pr-3">
                    <div class="btn btn-danger" onclick="VisibleFilter()">Отмена</div>
                    <input class="btn btn-primary ml-2" type="submit" value="ОК" />
                </div>
            </div>
        </div>
    </form>
</div>
