﻿@model DailyTasksViewModel

@{
    var task = ViewData["task"] as DailyTaskViewModel;
}

    <div class="media text-muted pt-3">
        <title>Placeholder</title>

        <div class="@string.Format("task-box {0} {1}",
                task.TaskType, task.IsDone?"done":string.Empty)" onclick="setIsDone(this, @task.Id)" style="cursor:pointer">
        </div>
        <a class="ml-3 media-body pb-3 mb-0 small lh-125 border-bottom border-gray"
           asp-action="Task" asp-controller="Planner" asp-route-id=@task.Id style="text-decoration:none; color:#212529">
            <p>
                <strong class="d-block text-gray-dark">@task.Sub</strong>   
                @{
                    if (task.Place != null && !string.IsNullOrEmpty(task.Place))
                    {
                        <span>Где: <b> @task.Place </b> Когда: в <b> @task.EndDate.Value.ToShortTimeString() </b></span>
                    }
                }
            </p>
        </a>
    </div>
