﻿@model DailyTasksViewModel

@{
    ViewData["Model"] = Model;
    string jsonModel = Json.Serialize(Model).ToString();
    <div class="row justify-content-end" style="cursor:pointer" onclick="VisibleFilter(@jsonModel)">
        <div class="btn btn-primary mt-3 mr-3 col-2">Фильтр</div>
    </div>
}
@Html.Partial("FilterTemplate", Model)
<div class="my-3 p-3 bg-white rounded shadow-sm">
    @{
        DailyTaskViewModel lastTask = null;
        foreach (var el in Model.dailyTasks)
        {
            if (lastTask == null || el.StartDate.ToShortDateString() != lastTask.StartDate.ToShortDateString())
            {
                <div class="border-bottom border-gray pb-2 mb-0 mt-3">
                    @el.StartDate.ToString("dd.MM.yyyy")
                </div>
            }

            lastTask = el;

            @Html.Partial("TaskTemplate", new ViewDataDictionary(ViewData)
{ { "task", el} });
        }
    }
</div>