﻿

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="row border-bottom border-gray text-center">
        <div class="col border-right border-gray">
            Пн
        </div>
        <div class="col border-right border-gray">
            Вт
        </div>
        <div class="col border-right border-gray">
            Ср
        </div>
        <div class="col border-right border-gray">
            Чт
        </div>
        <div class="col border-right border-gray">
            Пт
        </div>
        <div class="col border-right border-gray">
            Сб
        </div>
        <div class="col border-right border-gray">
            Вс
        </div>
    </div>
    @{
        var month = DateTime.Now.Month;
        var year = DateTime.Now.Year;
        var daysInMonth = DateTime.DaysInMonth(year, month);
        var daysInLastMonth = DateTime.DaysInMonth(year, month - 1);
        var nextDays = 1;
        int date = 1;
        for (var i = 0; i < 5; i++)
        {
            <div class="row mt-2 border-bottom border-gray pb-2" style="height: 90px;">

                @{
                    for (int d = 1; d < 8; d++)
                    {
                        var today = new DateTime(year, month, date);
                        var weekDay = (int)today.DayOfWeek;

                        if (weekDay == d ||
                           (d == 7 && weekDay == 0))
                        {
                            @Html.ActionLink(today.Day.ToString(), "Day", "Planner",
                                               new { period = "Day", todayDay = today.ToString("dd.MM.yyyy") },
                                               new { @class = "col border-right border-gray" })



                            if (date != daysInMonth)
                            {
                                ++date;
                            }

                        }
                        else
                        {
                            if (i == 0)
                            {
                                var lastDay = daysInLastMonth - 5 + d;
                                <div class="col border-right border-gray" style="color: #e5e5e5">@lastDay</div>
                            }
                            else
                            {
                                <div class="col border-right border-gray" style="color: #e5e5e5">@nextDays</div>
                                nextDays += 1;
                            }

                        }
                    }
                }

            </div>
        }
    }

</div>

@Html.ActionLink("Все задачи", "Month", "Planner", new { isAllTask = true })