﻿@model DailyTaskViewModel

<div class="container">
    <form method="post" asp-controller="Planner" asp-action="Update">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <div class="mb-3">
                <label>Тема</label>
                <input type="text" name="Sub" class="form-control" id="firstName" placeholder="" value="@Model.Sub" required="" disabled>

                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Тип задачи</label>
                    <label for="RType"></label>
                    <select asp-for="TaskType"
                            class="custom-select d-block w-100" id="taskType" required="" onchange="Selected(this)" disabled>
                        <option value="@Model.TaskType">@Model.TaskType</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3" id="StartDate">
                    <label>Дата начала</label>
                    <input name="startDate" value="@Model.StartDate.ToString("dd.MM.yyyy")" type="text"
                           class="form-control single-data-time-picker" id="date" placeholder="Дата" required disabled>
                </div>
                @{
                    if (Model.TaskType != "Памятка")
                    {
                        <div class="col-md-4 mb-3" id="EndDate">
                            <label>Дата завершения</label>
                            <!-- <input type="date" class="form-control date-picker" id="date" name="date" placeholder="Дата" required> -->
                            <input name="endDate" type="text" class="form-control single-data-time-picker"
                                   id="startDate" value="@Model.EndDate.Value.ToString("dd.MM.yyyy")" disabled>
                        </div>
                    }
                }

            </div>

            @{
                if (Model.TaskType == "Встреча")
                {
                    <div class="row" id="Place">
                        <div class="col-md-8">
                            <label>Место встречи</label>
                            <input name="place" type="text" class="form-control"
                                   id="firstName" placeholder="" value="@Model.Place" disabled>
                        </div>
                    </div>
                }

            }


            <div class="row flex-nowrap justify-content-end pr-3">
                <a class="btn btn-success" href="javascript:history.go(-1)">Ок</a>
            </div>
        </div>
    </form>



</div>
