﻿@model DailyTasksViewModel
@{
    var weekDay = (int)DateTime.Now.DayOfWeek;
    weekDay = weekDay == 0 ? 7 : weekDay;
    for (int i = 1; i < 8; i++)
    {

        var date = DateTime.Now.AddDays(i - weekDay);

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">@date.ToString("dd.MM.yyyy")</h6>
        @{
            foreach (var el in Model.dailyTasks.Where(t =>
                (int)t.StartDate.DayOfWeek == i ||
                    ((int)t.StartDate.DayOfWeek == 0 && i == 7)))
            {
                @Html.Partial("TaskTemplate", new ViewDataDictionary(ViewData) {
                   { "task", el}})
            }
        }
        @Html.Partial("CreateTaskTemplate", date.ToString("dd.MM.yyyy"))
        @Html.ActionLink("Все задачи", "Day", "Planner", new { todayDay = date.ToString("dd.MM.yyyy") })
    </div>
    }
}
